<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  
	      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bundle.css">
    <link rel="stylesheet" href="/stylesheets/hody-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Pacifico|Raleway:300,400" rel="stylesheet" type="text/css">
	  <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
  </head>