<nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
				  <h2 style="font-family: 'Pacifico', cursive; margin-top: 10px;">Spark</h2>
<!--
                <img class="logo-light" src="images/logo-light.png" alt="">
                <img class="logo-dark" src="images/logo-dark.png" alt="">
-->
              </a>
            </div>
            <div class="menu-extras">
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                
				  <li class="menu-item-has-children"><a href="#">Freelancers</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">Login</a>
                    </li>
                    <li>
                      <a href="/hosts/signup">Signup</a>
                    </li>
                    <li>
                      <a href="#">FAQ</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Hosts</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">Login</a>
                    </li>
                    <li>
                      <a href="/hosts/signup">Signup</a>
                    </li>
                    <li>
                      <a href="#">FAQ</a>
                    </li>
                  </ul>
                </li>
                
                
                
                
              </ul>
            </div>
          </div>
        </div>
      </nav>