<section class="height-100 dark-bg">
  <div id="particle-canvas" data-dot-color="#00c3da" data-line-color="#2f2f2f">
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="error-page">
          <div class="title">
            <h1 class="colored-text">404</h1>
            <h2>Oh no! Where did everybody go?</h2>
            <h4>We couldn't find the page you were looking for. Wanna go <a href="/"><u>home</u></a> now?</h4>
        </div>
      </div>
    </div>
  </div>
</section>