<section class="height-100 dark-bg">
        <div id="particle-canvas" data-dot-color="#00c3da" data-line-color="#2f2f2f"></div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="error-page">
                <div class="title">
                  <h1 class="colored-text">404</h1>
                  <h2>Oh no! There was an error.</h2>
                  <h4>We couldn't find the page you were looking for.</h4>
<!--                </div><a class="btn btn-color" href="#">Back to the home</a>-->
              </div>
            </div>
          </div>
        </div>
      </section>