<section class="section-skewed section-bordered">
  <div id="home-slider">
    <div class="slide-item">
      <div class="video-wrapper" data-fallback-bg="/images/home_bg.jpg">
        <div class="video-player" data-property="{videoURL: '0YjLf8T0lUs'}"></div>
      </div>
      <div class="slide-wrap dark-overlay">
        <div class="slide-content">
          <div class="container">
            <h1 class="font-medium heading-font">Charge Up <span class="typed-words" data-strings="[&quot;your work&quot;, &quot;your life&quot;, &quot;the world&quot;]"></span></h1>
            <h4 class="heading-font">We bridge remote work and global education</h4>
            <p><a class="btn btn-light-out" href="/#aboutyou" data-scroll="true">Who You Are</a><a class="btn btn-light-out" href="/#aboutus" data-scroll="true">Who We Are</a>
            {{!-- <a class="btn btn-color"
                href="/users/login" data-custom-bg="#00c3da">Log In</a> --}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- <section class=" section-skewed" style="background-color:#1f1f1f">
  <div id="particle-canvas" data-dot-color="#00c3da" data-line-color="#2f2f2f"></div>
  <div class="container height-100" id="aboutyou">
    <div class="row">
      <div class="col-md-5">
        <div class="title txt-sm-center">
          <h2 class="white-text">About YOU</h2>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <p class="white-text big">Are you location independent? Join Upcharge to add more purpose to your next move.</p>
        <p class="white-text big">Are you stuck at a dead-end job but have bills to pay? Upcharge offers 
          an affordable way to switch careers or discover if freelancing is for you. 
          Rent out your home and live rent-free while building your clientbase or
          taking that class you always wanted to take. </p>
        <p class="white-text big">Do you need a break from routine? Take a sabbatical and spend it with one of 
          our hosts setting off a difference in more than one life.</p>
          <p><a class="btn btn-light-out"
                href="/users/signup" data-scroll="true">Take Charge</a></p>
      </div>
    </div>
  </div>
</section> --}}

<section class="height-100 dark-bg section-skewed" id="aboutyou">
  <div class="particle-canvas" data-dot-color="#00c3da" data-line-color="#2f2f2f">
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="row">
      <div class="col-md-5">
        <div class="title txt-sm-center">
          <h2 class="white-text">About YOU</h2>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <p class="white-text big">Are you location independent? Join Upcharge to add more purpose to your next move.</p>
        <p class="white-text big">Are you stuck at a dead-end job but have bills to pay? Upcharge offers 
          an affordable way to switch careers or discover if freelancing is for you. 
          Rent out your home and live rent-free while building your clientbase or
          taking that class you always wanted to take. </p>
        <p class="white-text big">Do you need a break from routine? Take a sabbatical and spend it with one of 
          our hosts setting off a difference in more than one life.</p>
          <p><a class="btn btn-light-out"
                href="/users/signup" data-scroll="true">Take Charge</a></p>
      </div>
    </div>
    </div>
  </div>
</section>






<section class="height-100" style="background-color:#61c4da" id="aboutus">
  
  <div class="container height-100" id="aboutus">
    <div class="row">
      <div class="col-md-5">
        <div class="title txt-sm-center">
          <h2 class="white-text">About Upcharge</h2>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <p class="white-text big">Upcharge is a platform that connects location independent professionals
          and local schools, orphanages, non-profits, and charities.
          Charities provide accommodation and access to internet.
          Freelancers devote a pre-arranged amount of time to teaching
          children or staff English, Computer Science, Critical Thinking,
          or other universally applicable life skills.</p>
        <p class="white-text big">Time commitment is agreed upon on a case by case basis depending
          on the needs of the non-profit and the availability of the freelancer,
          but the general expectation is that freelancers
          can remain focused on their remote work. </p>
          <p><a class="btn btn-light-out"
                href="/users/signup" data-scroll="true">Sign Up</a>
                <a class="btn btn-light-out"
                href="/hosts/signup" data-scroll="true">Sign Up as a Host</a></p>
      </div>
    </div>
  </div>
</section>