<section class="section-skewed section-bordered">
        <div id="home-slider">
          <div class="slide-item">
            <div class="video-wrapper" data-fallback-bg="images/bg-image-12.jpg">
              <div class="video-player">
                  <div class="video-wrapper" data-fallback-bg="images/bg/5.jpg">
    				<div class="video-player" data-property="{videoURL: '9No-FiEInLA'}"></div>
  				  </div>
              </div>
            </div>
            <div class="slide-wrap dark-overlay">
              <div class="slide-content">
                <div class="container">
                  <h1 class="font-medium">Change<br>Your <span class="typed-words" data-strings="[&quot;World&quot;]"></span></h1>
                  <h4>We bridge remote work and global education</h4>
                  <p><a class="btn btn-light-out" href="#">Who We Are</a><a class="btn btn-color" href="#" data-custom-bg="#e42869">Log In</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<section class="section-skewed section-bordered home-section p-0">
        <div id="home-slider" class="slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1134px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="slide-item slick-slide slick-current slick-active image-scaling" data-slick-index="0" aria-hidden="false" style="width: 1134px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
            <div class="video-wrapper" data-fallback-bg="images/bg-image-12.jpg">
              <div class="video-player">
                <video autoplay="" loop="" preload="auto" style="width: 1174px; height: 715.406px; left: 0px; top: -190px;">
                  <source src="https://dl.dropboxusercontent.com/s/gc6kklkyky45ovt/agency.mp4" type="video/mp4">
                </video>
              </div>
            </div>
            <div class="slide-wrap dark-overlay">
              <div class="slide-content">
                <div class="container">
                  <h1 class="font-medium" style="opacity: 1; transform: scale(1);">Digital<br>Creative <span class="typed-words" data-strings="[&quot;Agency&quot;, &quot;Team&quot;, &quot;Products&quot;]">Agency</span><span class="typed-cursor">|</span></h1>
                  <h4 style="opacity: 1; transform: scale(1);">We help the world’s top companies build amazing products.</h4>
                  <p style="opacity: 1; transform: scale(1);"><a class="btn btn-light-out" href="#" tabindex="0">Who We Are</a><a class="btn btn-color" href="#" data-custom-bg="#e42869" style="background-color: rgb(228, 40, 105);" tabindex="0">Portfolio</a>
                  </p>
                </div>
              </div>
            </div>
          </div></div></div>
        <div class="slide-arrows"></div></div>
      <div class="skewed-mask"><div class="mask-block" style="background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"></div></div></section>