<!DOCTYPE html>
<html class="no-js">
{{> head}}

<body>
      {{> preloader}}
      <div id="wrapper">
            {{> navbar}}
            {{{body}}}
            {{> footer}}
            
</body>

</html>