<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#0c5869,#61c4da">
  <div class="row-parallax-bg">
    <div class="parallax-wrapper">
      <div class="parallax-bg">
        <img src="/images/2.jpg" alt="">
      </div>
    </div>
    <div class="parallax-overlay"></div>
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="title text-center">
              <h1>Sign up as a host...</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-skewed p-0">
  <form action="/hosts/signup" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-25">
          <h2 style="color:#000000;">...and welcome<br><span style="font-size:160%; font-family: 'Pacifico', sans-serif; color:#00c3da;">
              the change </span></h2>
        </div>
        <div class="col-md-5 mb-25">
          <div class="row">
          </div>
          <div class="form-group">
            <label>Contact person</label>
            <p class="small">Name of the contact person at your facility</p>
            <input class="form-control input-sm" type="text" name="contact_person" placeholder="">
            <br />
            <div class="box upload">
              <p class="small">It's nice to put a face to the name --<br> upload a picture of the contact person</p>
              <input type="file" name="contact_person_pic" id="file-5" class="inputfile inputfile-3"
                data-multiple-caption="{count} files selected" multiple />
              <label for="file-5"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
                <span>Upload picture</span></label>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label>Facility</label>
            <p class="small">Name of your school or non-profit</p>
            <input class="form-control input-sm" type="text" name="facility_name" placeholder="">
            <br />
            <div class="box upload">
              <p class="small">Upload the main picture for your account</p>
              <input type="file" name="cover_pic" id="file-6" class="inputfile inputfile-3" data-multiple-caption="{count} files selected"
                multiple />
              <label for="file-6"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
                <span>Upload cover picture</span></label>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label>Email address</label>
            <input class="form-control input-sm" type="email" name="email" placeholder="">
          </div>
          <div class="form-group">
            <label>Website</label>
            <input class="form-control input-sm" type="text" name="website" placeholder="">
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input class="form-control input-sm" type="text" name="phone" placeholder="">
          </div>
          <hr>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control input-sm" type="text" name="street" placeholder="Street + number">
          </div>
          <div class="form-group" style="width: 100%;">
            <input class="form-control input-sm" type="text" name="postcode" placeholder="Postcode" style="display: inline; width: 40%;">
            <input class="form-control input-sm" type="text" name="city" placeholder="City" style="display: inline; width: 59%;">
          </div>
          <div class="form-group">
            <select id="country" name="country" class="form-control input-sm"></select>
          </div>
          <div class="form-group">
            <select id="continent" name="continent" class="form-control input-sm" placeholder="Continent">
              <option value="europe">Europe</option>
              <option value="africa">Africa</option>
              <option value="asia">Asia</option>
              <option value="northamerica">North America</option>
              <option value="southamerica">South America</option>
              <option value="southamerica">Australia</option>
            </select>
          </div>
          <hr>
          <div class="form-group">
            <label>Tell Us About Your Facility</label>
            <p>What do you do and who do you serve?</p>
            <textarea class="form-control " type="text" name="question1" placeholder="Question 1"></textarea>
          </div>
          <div class="form-group">
            <p>What is one thing you would like to change in the world?</p>
            <textarea class="form-control " type="text" name="question2" placeholder="Question 2"></textarea>
          </div>
          <div class="form-group">
            <p>What do you expect from your guest?</p>
            <textarea class="form-control " type="text" name="question3" placeholder="Question 3"></textarea>
          </div>
          <hr>
          <div class="form-group">
            <label>When are you ready to start hosting?</label>
            <input class="form-control input-sm" type="date" name="start_date">
          </div>
          <div class="form-group">
            <label>End date</label>
            <input class="form-control input-sm" type="date" name="end_date">
          </div>
          <hr>
          <div class="form-group">
            <label>Pictures of your facility</label>
            <br>
            <div class="box upload">
              <input type="file" name="facility_pics" id="file-9" class="inputfile inputfile-3" data-multiple-caption="{count} files selected"
                multiple />
              <label for="file-9"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
                <span>Choose up to 5</span></label>
            </div>

          </div>
          <div class="form-group">
            <label>Pictures of the accommodation you offer</label>
            <br>
            <div class="box upload">
              <input type="file" name="accommodation_pics" id="file-10" class="inputfile inputfile-3"
                data-multiple-caption="{count} files selected" multiple />
              <label for="file-10"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
                <span>Choose up to 5</span></label>
            </div>
          </div>
          <div class="form-group">
            <label>Pictures of the classroom your guest will teach in</label>
            <br>
            <div class="box upload">
              <input type="file" name="classroom_pics" id="file-11" class="inputfile inputfile-3" data-multiple-caption="{count} files selected"
                multiple />
              <label for="file-11"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
                <span>Choose up to 5</span></label>
            </div>
             </div> <hr>
              <div class="form-group">
                <label>Username</label>
                <p class="small">Pick a username for this profile--you will use it to log in</p>
                <input class="form-control input-sm" type="text" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="form-control input-sm" type="password" name="password" placeholder="Choose a strong password">
              </div>
              <hr>
              <br><br>
              <div class="form-group">
                <div class="checkout-submit">
                  <button class="btn btn-color btn-block" type="submit">Submit</button>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
        </div>
  </form>
</section>