<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#0c5869,#61c4da">
  <div class="row-parallax-bg">
    <div class="parallax-wrapper">
      <div class="parallax-bg">
        <img src="/images/1.png" alt="">
      </div>
    </div>
    <div class="parallax-overlay"></div>
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="title text-center">
              <h1>Sign up as an educator...</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-skewed p-0">
  <form action="/users/signup" method="post" id="freelanceform" enctype="multipart/form-data">
    <div class="container">
			<div class="row">
				<div class="col-md-5 mb-25">
				  <h2 style="font-family: 'Source Sans Pro', sans-serif; color:#000000;">...and mark the beginning of<br><span style="font-size:130%; font-family: 'Pacifico', sans-serif; color:#00c3da;"> your new life</span></h2>              
        </div>
			</div>
      <div class="row">
        <div class="col-md-5 mb-25">
        </div>
			<div class="col-md-5 mb-25">
        <div class="form-group">
				  <label>Name</label>
          <p class="small">Official name as displayed on your government ID</p>
          <input class="form-control input-sm" type="text" name="firstname" placeholder="First name">
          <br/>
          <input class="form-control input-sm" type="text" name="lastname" placeholder="Last name">
        </div>
				<div class="form-group">
				  <label>Nickname</label>
					<p class="small">What your friends call you -- this name will be displayed on the site</p>
          <input class="form-control input-sm" type="text" name="nickname" placeholder="Username" required>
        </div>
        <div class="form-group">
					<label>Email address</label>
				  <input class="form-control input-sm" type="email" name="email" placeholder="Email address">
				</div>
				<div class="form-group">
				  <label>Password</label>
            <input class="form-control input-sm" type="password" name="password" placeholder="Choose a strong password">
        </div>  
				<hr>
			  <div class="form-group">
				  <label>Address</label>
          <input class="form-control input-sm" type="text" name="street" placeholder="Street + number" required>
        </div>
				<div class="form-group" style="width: 100%;">
          <input class="form-control input-sm" type="text" name="postcode" placeholder="Postcode" style="display: inline; width: 40%;">
					<input class="form-control input-sm" type="text" name="city" placeholder="City"  style="display: inline; width: 59%;">
        </div>
			  <div class="form-group">
            <select id="country" name="country" class="form-control input-sm required" required></select>
        </div>
				<hr>
			  <div class="form-group">
				  <label>Date of birth</label>
          <input class="form-control input-sm" type="date" name="birthdate" id="birthdate" placeholder="Birthdate" min='01-01-1899' max='13-13-2000' required></input>
        </div>
			  <div class="form-group">
				  <label>Profession</label>
				  <p class="small">What do you do for a living? ;)</p>
          <input class="form-control input-sm" type="text" name="profession" placeholder="">
        </div>
        <div class="form-group">
				  <label>Country of origin</label>
          <select id="country2" name="country2" class="form-control input-sm required"></select>
        </div>
        <div class="form-group">
          <label>Languages you speak</label>
          <p class="small">Use the CTRL button to select multiple languages.</p>
					<select class="form-control bfh-languages" multiple="multiple"></select>
        </div>
        <hr>
			  <div class="form-group">
          <label>Pictures</label>
          <div class="box upload">
					<input type="file" name="profilepic" id="file-3" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple />
					<label for="file-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Upload your profile picture</span></label>
				</div>
        <div class="box upload">
					<input type="file" name="governmentId" id="file-4" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple />
					<label for="file-4"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Upload your government ID</span></label>
				</div>
			  </div>	
          {{!-- <input id="uploadFile" placeholder="Upload government ID" disabled="disabled" />
				  <div class="fileUpload btn btn-primary">
					<span>Upload</span>
					<input id="uploadBtn" type="file" name="governmentId" class="upload" />
				</div> --}}
        <hr>
				<div class="form-group">
          <label>Tell Us About Yourself</label>
          <p>Why do you want to join Spark?</p>
          <textarea class="form-control" type="text" name="question1" placeholder="Question 1"></textarea>
        </div>
			  <div class="form-group">
          <p>What is one thing you would like to change in the world?</p>
          <textarea class="form-control" type="text" name="question2" placeholder="Question 2"></textarea>
        </div>
			  <div class="form-group">
          <p>What superpower would you like to have and why?</p>
          <textarea class="form-control" type="text" name="question3" placeholder="Question 3"></textarea>
        </div>
        <hr>
			  <div class="form-group">
          <label>Pick your start date</label>
          <input class="form-control input-sm" type="date"  name="start_date" id="start_date">
        </div>
			  <div class="form-group">
          <label>Pick your end date</label>
          <input class="form-control input-sm" type="date" name="end_date" id="end_date">
        </div>  
        <hr>
				<br><br>
				<div class="form-group">
          <div class="checkout-submit">
            <button class="btn btn-color btn-block" type="submit">Submit</button>
        </div>
      </div>
 
  </form>     
</section>

<section class="grey-bg">
        <div class="container">
          <div class="title text-center">
            <h4 class="upper"></h4>
            <h4>We are the Change</h4>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp">
                  <div class="team-image">
                    <img src="images/team-1.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Luke Cage</h4><span>Founder & CEO</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="300">
                  <div class="team-image">
                    <img src="images/team-2.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Jessica Jones</h4><span>Product Designer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="600">
                  <div class="team-image">
                    <img src="images/team-3.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Matt Murdock</h4><span>Lead Developer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="900">
                  <div class="team-image">
                    <img src="images/team-4.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Claire Temple</h4><span>Sales Manager</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
		
		{{!-- <script>
window.onmousedown = function (e) {
    var el = e.target;
    if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
        e.preventDefault();

        // toggle selection
        if (el.hasAttribute('selected')) el.removeAttribute('selected');
        else el.setAttribute('selected', '');

//        // hack to correct buggy behavior
        var select = el.parentNode.cloneNode(true);
        el.parentNode.parentNode.replaceChild(select, el.parentNode);
    }
}
		</script> --}}
		