<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#ff795f,#ce1768">
  <div class="row-parallax-bg">
    <div class="parallax-wrapper">
      <div class="parallax-bg">
        <img src="/images/1.png" alt="">
      </div>
    </div>
    <div class="parallax-overlay"></div>
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="title text-left">
          <h2 class="orange">Sign up...</h2>                
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-skewed p-0">
  <form action="/hosts/signup" method="post" enctype="multipart/form-data">
    <div class="container">
		  <div class="row">
			  <div class="col-md-5 mb-25">
				  <h2 style="font-family: 'Source Sans Pro', sans-serif; color:#000000;">...and mark the beginning of<br><span style="font-size:130%; font-family: 'Pacifico', sans-serif; color:#00c3da;"> your new life</span></h2>              
        </div>
		  </div>
      <div class="row">
        <div class="col-md-5 mb-25">
			  </div>
			  <div class="col-md-5 mb-25">
				  <div class="row">
          </div>
          <div class="form-group">
				    <label>Name</label>
            <p class="small">Name of the contact person at your non-profit</p>
            <input class="form-control input-sm" type="text" name="contact_person" placeholder="Contact person">
          </div>
          <div class="form-group">
            <label>Picture</label>
            <br>
            <input id="uploadFile" placeholder="Upload a picture of the contact person" disabled="disabled" />
				    <div class="fileUpload btn btn-primary">
					      <span>Upload</span>
					  <input id="uploadBtn" type="file" name="contact_person_pic" class="upload" />
				    </div>
			    </div>
          <hr>
          <div class="form-group">
				    <label>Non-Profit Name</label>
            <p class="small">Name of the your school or non-profit</p>
            <input class="form-control input-sm" type="text" name="facility_name" placeholder="Contact person">
          </div>
          <div class="form-group">
            <label>Cover Picture</label>
            <br>
            <input id="uploadFile" placeholder="This will be the main picture of this profile" disabled="disabled"/>
				    <div class="fileUpload btn btn-primary">
					    <span>Upload</span>
					  <input id="uploadBtn" type="file" name="cover_pic" class="upload" />
				    </div>
			    </div> 
          <hr>         
          <div class="form-group">
            <label>Email address</label>
            <input class="form-control input-sm" type="email" name="email" placeholder="Email address">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control input-sm" type="text" name="street" placeholder="Street + number">
          </div>
          <div class="form-group" style="width: 100%;">
            <input class="form-control input-sm" type="text" name="postcode" placeholder="Postcode" style="display: inline; width: 40%;">
            <input class="form-control input-sm" type="text" name="city" placeholder="City"  style="display: inline; width: 59%;">
          </div>
          <div class="form-group">
              <select id="country" name="country" class="form-control input-sm"></select>
          </div>
          <hr>
          <div class="form-group">
            <label>Tell Us About Your Non-Profit</label>
            <p>What do you do and for who?</p>
            <textarea class="form-control input-sm" type="text" name="question1" placeholder="Question 1"></textarea>
          </div>
          <div class="form-group">
            <p>What is one thing you would like to change in the world?</p>
            <textarea class="form-control input-sm" type="text" name="question2" placeholder="Question 2"></textarea>
          </div>
          <div class="form-group">
            <p>What do you expect from your guest?</p>
            <textarea class="form-control input-sm" type="text" name="question3" placeholder="Question 3"></textarea>
          </div>
          <hr>         
          <div class="form-group">
            <label>When are you ready to start hosting?</label>
            <input class="form-control input-sm" type="date"  name="start_date">
          </div>
          <div class="form-group">
            <label>End date</label>
            <input class="form-control input-sm" type="date" name="end_date">
          </div>  
          <hr>
<!--
          <div class="form-group">
            <label>Pictures of your facility</label>
            <br>
            <input id="uploadFile" placeholder="Choose up to 5" disabled="disabled"/>
				    <div class="fileUpload btn btn-primary">
					    <span>Upload</span>
					    <input type="file" name="facility_pics" multiple>
				    </div>
			    </div> 
          <div class="form-group">
            <label>Pictures of your accommodation</label>
            <br>
            <input id="uploadFile" placeholder="Choose up to 5" disabled="disabled"/>
				    <div class="fileUpload btn btn-primary">
					    <span>Upload</span>
					    <input type="file" name="accommodation_pics" multiple>
				    </div>
			    </div> 
          <div class="form-group">
            <label>Pictures of your classroom</label>
            <br>
            <input id="uploadFile" placeholder="Choose up to 5" disabled="disabled"/>
				    <div class="fileUpload btn btn-primary">
					    <span>Upload</span>
					    <input type="file" name="classroom_pics" multiple>
				    </div>
			    </div> 
-->
          <hr>
          <div class="form-group">
				    <label>Username</label>
            <p class="small">Pick a username for this profile--you will use it for login</p>
            <input class="form-control input-sm" type="text" name="username" placeholder="Username">
          </div>          
          <div class="form-group">
            <label>Password</label>
              <input class="form-control input-sm" type="password" name="password" placeholder="Choose a strong password">
          </div> 
          <br><br>
          <div class="form-group">
            <div class="checkout-submit">
              <button class="btn btn-color btn-block" type="submit">Submit</button>
          </div>
          <hr>
        </div>        
      </div>
    </div>   
  </form>     
</section>

<section class="grey-bg">
        <div class="container">
          <div class="title text-center">
            <h4 class="upper"></h4>
            <h2>We are the change</h2>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp">
                  <div class="team-image">
                    <img src="images/team-1.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Luke Cage</h4><span>Founder & CEO</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="300">
                  <div class="team-image">
                    <img src="images/team-2.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Jessica Jones</h4><span>Product Designer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="600">
                  <div class="team-image">
                    <img src="images/team-3.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Matt Murdock</h4><span>Lead Developer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="900">
                  <div class="team-image">
                    <img src="images/team-4.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Claire Temple</h4><span>Sales Manager</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>